/* ==================================================================================================================================== */  
/* Defaults */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #FF8370;
    --secondary-color: #F6F6F6;
    --growing-grey: #d3d3d3;
}

a{
    text-decoration: none;
    color: white;
}

body{
    position: relative;
    min-height: 100vh;

    padding-bottom: 25vh;
}

/* ==================================================================================================================================== */  
/* Navigation */

nav{
    padding: 0.5vw 5vw;

    background: var(--primary-color);

    display: flex;
    justify-content: space-between;
}

nav h1{
    color: white;
    font-family: 'Lato', cursive;
}

nav > ul{
    gap: 2vw;

    align-items: center;
    display: flex;
    justify-content: space-between;
}

nav > ul > li{
    list-style: none;
}

nav a{
    transition: 250ms ease-out;
}

nav a:hover{
    color: black;
    transition: 250ms ease-out;
}

/* ==================================================================================================================================== */  
/* Title Header */

.title-intro{
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10vw;
    background-color: var(--primary-color);
}

.title-intro-headers{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    flex-direction: column;
}

.title-intro-headers > h1{
    color: white;
}

.title-intro > img{
    max-width: 30vw;
}

/* ==================================================================================================================================== */  
/* Main Page Sections */

.sections{    
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-content{
    display: flex;
    gap: 15vw;
    justify-content: center;
    align-items: center;

    max-width: 80vw;
}

.sections-content > img{
    max-width: 30vw;
}

.sections-content h1{
    font-size: 2.25vw;
}

.sections-content p{
    font-size: 1.25vw;
}

/* ==================================================================================================================================== */  
/* Main Page Start Calculations */

.start-calculating{
    min-height: 80vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 5vh;

}

.start-calculating > a{
    color: var(--primary-color);
    font-size: 1.5vw;

    padding: 1vh 3vw;
    border-radius: 1vh;
    border: 0.5vh solid var(--primary-color);

    background: white;
    transition: 250ms ease;
}

.start-calculating > a:hover{
    background: var(--primary-color);
    color: white;
    transition: 250ms ease;
}

/* ==================================================================================================================================== */  
/* ABOUT */

.about{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.about-content{
    margin: 10vh 0vw;
    display: flex;
    flex-direction: column;

    gap: 5vh;
    max-width: 45vw;
}

.questionnaire{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.questionnaire > h1{
    font-size: 1.35vw;
    color: var(--primary-color);
    font-weight: 100;

    padding: 0vh 0vw 0.5vh 0vw;
    font-family: 'Lato', Courier, monospace;
}

.questionnaire > article{
    border: 0.25vh solid var(--growing-grey);
    border-radius: 0.5vh;

    /* Width is 100% of the parent */
    width: 100%;

    padding: 3vh 1vw;
}

/* ==================================================================================================================================== */  
/* FOOTER */

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--primary-color);
    min-height: 25vh;

    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;

    /* Giving absolute position width padding will make the footer go out of the screen */
    /* Position absolute doesn’t keep parent’s padding style */
}

.footer-navigation{
    display: flex;
    padding-right: 5vw;
}

.footer-navigation > ul{
    list-style-type: none;

    display: flex;
    gap: 1.25vh;
    flex-direction: column;
}

.footer-navigation a{
    font-size: 2.25vh;

    transition: 250ms ease-out;

}

.footer-navigation a:hover{

    color: black;
    transition: 250ms ease-out;
}

.footer-logo{
    color: white;
    font-family: 'Lato', cursive;    

    padding-left: 5vw;
}

.footer-motto{
    display: flex;
    flex-direction: column;

    color: white;
    font-family: 'Lato', cursive;
}

.footer-motto-img{
    display: flex;
    gap: 1vw;
}

.footer-motto-img > img{
    max-width: 4vh;
    transition: 250ms ease-out;
}

.footer-motto-img > img:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 250ms ease-out;
}

.copyright > a{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1vw;

    font-family: 'Lato', Courier, monospace;
}

/* ==================================================================================================================================== */  
/* NOT FOUND */

.not-found{
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    min-height: 80vh;
}

.not-found-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found-content > h1{
    font-size: 4vw;
}

.not-found-content > h2{
    font-size: 2vw;
    color: var(--primary-color);
}

/* ==================================================================================================================================== */
/* Main Page Start Calculations */

.itemInput{
    
}